<header>
  <img src="/src/assets/logo/Profile-website-logo.png" class="logo" />
  <span class="nav-menu"> SKILLS </span>
  <span class="nav-menu"> PROJECTS </span>
  <span class="nav-menu"> EDUCATION </span>
  <span class="nav-menu"> CONTACT </span>
</header>