header {
  height: 56px;
  background-color: black;
  color: white;
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: flex-end;
  padding-right: 30px;
}

header>span {
  margin: auto 10px;
  padding: 5px 15px;
}

header>span:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.logo {
  width: 100px;
  height: 50px;
}